{% extends "base.html" %}



{% block title %}{{ site.title }}{% endblock %}


{% block container %}
    <div id="wiki_title">{{ site.title }}</div>

    <div id="search-box">
        <form action="search.html">
        <div class="tipue_search_left"><img src="{{ site.root }}/static/plugin/tipuesearch/search.png" class="tipue_search_icon"></div>
        <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".+" title="At least 3 characters" required></div>
        <div style="clear: both;"></div>
        </form>
    </div>

    <div id="search-results">
        <div id="tipue_search_content"></div>
    </div>
    <script>
    $(document).ready(function() {
         $('#tipue_search_input').tipuesearch({
             minimumLength : 1
         });
    });
    </script>
{% endblock %}
